---
- name: Deploy NGO WAR Application on Tomcat
  hosts: web
  become: yes

  tasks:

    - name: Update apt packages
      apt:
        update_cache: yes

    - name: Install Java
      apt:
        name: openjdk-17-jdk
        state: present

    - name: Remove old Tomcat (if exists)
      file:
        path: /opt/tomcat
        state: absent

    - name: Download Tomcat
      get_url:
        url: https://archive.apache.org/dist/tomcat/tomcat-10/v10.1.18/bin/apache-tomcat-10.1.18.tar.gz
        dest: /tmp/tomcat.tar.gz

    - name: Create Tomcat directory
      file:
        path: /opt/tomcat
        state: directory

    - name: Extract Tomcat
      unarchive:
        src: /tmp/tomcat.tar.gz
        dest: /opt/tomcat
        remote_src: yes
        extra_opts: [--strip-components=1]

    - name: Set execute permissions
      file:
        path: /opt/tomcat/bin
        mode: "0755"
        recurse: yes

    - name: Remove default webapps
      shell: rm -rf /opt/tomcat/webapps/*

    - name: Copy WAR file
      copy:
        src: /mnt/c/Users/rohit/Downloads/NGO/NGO/target/ngoapp-0.0.1-SNAPSHOT.war
        dest: /opt/tomcat/webapps/ngoapp.war
        mode: "0644"

    - name: Start Tomcat
      shell: /opt/tomcat/bin/startup.sh
