---
- name: Deploy NGO Application with MySQL
  hosts: local
  become: yes

  tasks:

    - name: Update apt packages
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start and enable Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Create Docker network
      docker_network:
        name: ngo-network

    - name: Run MySQL container
      docker_container:
        name: ngo-mysql
        image: mysql:8
        state: started
        restart_policy: always
        networks:
          - name: ngo-network
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: ngo_db
        ports:
          - "3306:3306"

    - name: Run NGO Backend container
      docker_container:
        name: ngo-app
        image: ngo-backend:latest
        state: started
        restart_policy: always
        networks:
          - name: ngo-network
        ports:
          - "8080:8080"
        env:
          SPRING_DATASOURCE_URL: jdbc:mysql://ngo-mysql:3306/ngo_db
          SPRING_DATASOURCE_USERNAME: root
          SPRING_DATASOURCE_PASSWORD: root
